@font-face {
  font-family: 'SourceHanSerifSC';
  src: url('./assets/SourceHanSerifSC-Regular.otf');
}

html, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "SourceHanSerifSC", "lucida grande", "lucida sans unicode",
                lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei",
                "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
